* {
	font-family: Arial;
}

.btn {
	height: 33px;
	width: 120px;
	background-color: #4387fd;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	border-radius: 2px;
	border: #4683ea;
}

.btn:hover {
	background-color: #4683ea;
}

.buttons {
	position: absolute;
	float: center;
	margin-left: 25%;
	margin-top: 7px;
}

.container {
	height: 592px;
	width: 592px;
	position: absolute;
	margin-top: 5%;
	margin-left: 25%;
}

.grid {
	background-color: #000000;
	border: 1px solid #ffffff;
	width: 35px;
	height: 35px;
	opacity: 0.25;
	float: left;
}

.highlight-click {
	opacity: 0.6;
}

.dead-cell {
	opacity: 0.25;
}